networkx==2.0
Scrapy==1.4.0
jsmin==2.2.2
nltk==3.2.4
stanfordcorenlp==3.7.0.2
editdistance==0.4
treetaggerwrapper==2.2.4
requests==2.18.4
beautifulsoup4==4.6.0
scikit_learn==0.19.1
python-weka-wrapper3==0.1.4